# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
kaggle-env/
KAGGLE-ENV/
Lib/
Include/
Scripts/
*.egg-info/
.eggs/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data
*.pkl
*.csv
*.h5